<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrzhu.spring.source.code.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.mrzhu.spring.source.code.po.UserInfo">
            <id property="user_id" column="user_id" jdbcType="BIGINT"/>
            <result property="real_name" column="real_name" jdbcType="VARCHAR"/>
            <result property="nick_name" column="nick_name" jdbcType="VARCHAR"/>
            <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="salt" column="salt" jdbcType="VARCHAR"/>
            <result property="registry_time" column="registry_time" jdbcType="TIMESTAMP"/>
            <result property="create_user" column="create_user" jdbcType="BIGINT"/>
            <result property="update_user" column="update_user" jdbcType="BIGINT"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="is_deleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,real_name,nick_name,
        mobile,email,salt,
        registry_time,create_user,update_user,
        create_time,update_time,is_deleted,
        version
    </sql>
</mapper>
